.main-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(66deg, rgb(241 253 255) 0%, rgb(236 236 255) 100%);
    align-items: center;
}

.form-container {
    box-sizing: border-box;
    max-width: 350px;
    width: 100%;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;
    background: #fff;
    border: 1px solid #fff;
    padding: 20px;
    height: fit-content;
    border-radius: 10px;
}

.form-container h1 {
    margin: 0;
    text-align: center;
}

.form {
    padding: 15px 10px 10px;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    color: #18171c;
    position: relative;
}


.form-field .form-input {
    font-family: sans-serif;
    padding: 5px 5px;
    border: 1px solid #ddd;
    font-size: 14px;
    border-radius: 5px;
    height: 22px;
    outline: none;
}

.form-field .form-input::placeholder {
    color: #ccc;
    font-weight: 400;
}

.form-field .form-input:focus {
    outline-color: #2196f3;
    outline-width: 0px;
}

.form-field .input-success:focus {
    border-color: #4CAF50;
}

.form-field .input-error:focus {
    border-color: #f00;
}

.form-field input:focus {
    border-color: #2196f3;
}

.form-field .input-error {
    border: 1px solid #f00;
}

.form-error {
    text-align: center;
}

.input-error-msg,
.form-error {
    font-size: 11px;
    color: #f00;
    margin: 0px;
}

.form-row-field {
    font-size: 12px;
    flex-direction: row;
    justify-content: space-between;
}

.form-row-field span {
    color: dodgerblue;
    cursor: pointer;
}

.form-row-field input {
    margin: 0px;
}

.submit-btn {
    background: #18171c;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 8px 0px;
    font-size: 14px;
    cursor: pointer;
}

.submit-btn:hover {
    opacity: 0.8;
}

.toggle-form-field p {
    font-weight: 400;
    text-align: center;
    color: #a5a8ac;
    margin-top: 0;
}

.toggle-form-field p span {
    color: #18171c;
    cursor: pointer;
    font-weight: 600;
}

.toggle-form-field p span:hover,
.form-row-field span:hover {
    text-decoration: underline;
}